body{
    margin: 0 auto;
    padding: 0 auto;
}
.two-section-devider{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.text-side{
    width: 40%;
}
.first-text{
    font-size: 50px;
}
.secound-text{
    font-size: 50px;
    color: rgb(48, 48, 128);

}
.one-side-border{
    border-left: 2px solid rgb(195, 207, 19);
    padding-left: 5px;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(195, 207, 19);
    border-radius: 3px;
}
#scrol-down-text{
    margin-top: 30px;
}
.image-side{
    width: 40%;
}
.image-side img{
    width: 400px;
    height: 400px;
}
.mission-2022-heading{
    font-size: 40px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    
}

.Mission{

    
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 5%;
    background-color: rgb(236, 225, 225);
}
.Vission{
    
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 5%;
    background-color: rgb(212, 214, 226);
}
.Goals{
    
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 5%;
    background-color: rgb(228, 215, 230);
}
.my-mission-item{
    display: flex;
    justify-content: space-around;
}
.my-mission-item-image{
    width: 100px;
    height: 100px;
}
.my-mission-item-name{
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    
}
.Develop-Without-Limits{
    margin-top: 80px;
}
.Know-our-Global-Community{
    margin-top: 80px;
}
.two-line-heading{
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
}
.start-project-heading{
    text-align: center;
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
    color: rgb(48, 48, 128);

}
